h1,
h6,
p,
div {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.card h6 {
    margin: 10px 0;
}
