.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.carCard {
    border: 2px solid grey;
    padding: 3px;
    width: 30%;
}

.car {
    width: 100%;
}

.carName {
    background-color: beige;
    text-align: center;
    text-decoration: un;
}

.price {
    background-color: red;
    color: white;
    font-weight: 500px;
    text-align: center;
}

.icon {
    float: left;
    height: 1.5em;
    margin-right: 10px;
}
