.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Header {
    flex: 0 0 15%;
    background-color: yellow;

    display: grid;
    justify-content: center;
    align-items: center;
}

.NavBar {
    display: inline-flex;

    background-color: crimson;
}

.Main {
    flex: 1 1 auto;
    background-color: gray;
}

.label {
    display: flex;
}

.Footer {
    flex: 0 0 10%;
    background-color: blueviolet;
}
